

footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center; 
    background-color: #3578E5;
    color: white;  
    padding: 5px; 
    font-family: 'PT Sans Narrow', sans-serif;
}  

footer ul {
    display: flex;  
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}